.App {
  text-align: center;
font-family: 'Helvetica', 'Arial', sans-serif;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top:20px;
  margin: auto;
}

thead {
  background-color: #3c85b3;
  color: white;
}
.inputs-block {
  background-color: #f2f2f2;
    padding: 20px;
    width: 450px;
      margin: 0 auto;
      border-radius: 8px;
}
form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  width:150px;
  margin-bottom: 16px;
}

button {
  background-color: #0000a4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  height:50px;
}
.loan-overview {
  background-color: #f2f2f2;
    padding: 20px;
      border-radius: 8px;
      width: 400px;
      margin: 0 auto;
      margin-top: 10px;
}

th,
td {
  padding: 8px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  /* Light gray background for even rows */
}

tbody tr:hover {
  background-color: #e0f7fa;
  /* Light blue background for hover effect */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

